---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	<a href="/">Главная</a>
	<a href="/about/">Обо мне</a>
	<a href="/blog/">Блог</a>
		<h1>Мой сайт Astro</h1>
		<h1>Обо мне</h1>
		<h2>… и моём новом сайт на Astro!</h2>

		<p>Я изучаю введение об Astro. Это вторая страница на моем сайте, и это первая, которую я построил самостоятельно!</p>

		<p>Этот сайт будет обновляться по мере того, как я буду проходить больше уроков, поэтому продолжайте проверять его и следите за тем, как идет мой путь!</p>
	</body>
</html>
