---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	<a href="/">Главная</a>
	<a href="/about/">Обо мне</a>
	<a href="/blog/">Блог</a>
	<h1>Мой блог обучения Astro</h1>
	<p>Здесь я буду писать о своём путешествии в обучении Astro.</p>

	</body>
</html>
